

@media screen and (min-width: 1100px) {


#timer-number-value-times-secundes,
#timer-number-value-times-hours,
#timer-number-value-times-minutes
{
  font-size: 2.5rem;
  z-index: 2;
  color: #fff;
  position: relative;
  font-family:"Bebas Neue Bold"; 
  text-align: center;
}
#timer-text-times-secundes,
#timer-text-times-hours,
#timer-text-times-minutes
{
  font-size: 1rem;
  z-index: 2;
  color: #fff;
  position: relative;
  font-family:"Roboto Regular"; 
  text-align: center;
  max-width: 3rem;
}
/*span#timer-separator-times-secundes,
span#timer-separator-times-minutes{
  display: none!important;
}*/

div#clock {
  margin-bottom: 3.0625rem;
  margin-top: 3.0625rem;
  width: 320px;
  background-color: red;
}

}



@media screen and (max-width: 1100px) {
p.logo {
    font-size: 3.5rem;
    }
a.phone {
    font-size: 1.5rem;    
}
h1.main_activity {
    font-size: 4.5rem;
}

.main__icon {
     width: 3rem;   
}
.main_getclose {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
}
.order_button {
   
    box-shadow: 0px 0px 30px 0px rgb( 255, 52, 81 );
    width: 15rem;
    margin-top: 2.5rem;
}
h2.catalog__title,
.count__order_form {
    font-size: 3rem;
    padding-bottom: 3rem;
}
}

/*
#timer-number-value-times-secundes,
#timer-number-value-times-hours,
#timer-number-value-times-minutes
{
  font-size: 4.5rem;
  z-index: 2;
  color: #fff;
  position: relative;
  font-family:"Bebas Neue Bold"; 
  text-align: center;
}
#timer-text-times-secundes,
#timer-text-times-hours,
#timer-text-times-minutes
{
  font-size: 1.1875rem;
  z-index: 2;
  color: #fff;
  position: relative;
  font-family:"Roboto Regular"; 
  text-align: center;
}*/




@media screen and (max-width: 991px) {
.product_card.extra__items {
   
    width: 49%;
    margin:auto;
    
}
.phone_backcall {
    display: block;
    text-align: right;
}


h1.main_activity {
    font-size: 3.5rem;
}

#catalog,
#reviews,
#count,
#video_block,
.cart_title {
    font-size: 3.75rem;
    font-family: "Bebas Neue Bold";
    text-align: center;
    margin-top: 4.125rem;
   
}
img.scroll_page {
    max-height: 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.certificate_block {
position: relative;
background-color: #353434;
margin:auto;
max-width: 290px;
max-height: 290px;
border-radius: 50%;
}




.transformed_block {
  display: flex;
    flex-direction: column;
}
.certificate_image_text,
.video_container_text {
  order: 1;
  margin-bottom: 1rem;
  
}
.certificate_block,
.video_container {
  order: 2;
  position: relative;
  
}

.video_container{
height: auto;
}
.certificate_image {
    max-width: 250px;
}
a.phone {
    display: block;
    margin-top: 0;
    margin-left:2rem; ;
}
}


/*.advantages.container{
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

 .advantages_icons{
display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
}*/


@media screen and (min-width: 992px) and (max-width: 1099px) {
}

@media screen and (max-width: 768px) {

#timer-number-value-times-secundes,
#timer-number-value-times-hours,
#timer-number-value-times-minutes
{
  font-size: 3rem;
  
}
#timer-text-times-secundes,
#timer-text-times-hours,
#timer-text-times-minutes
{
  font-size: 1rem;
  font-family:"Roboto Regular"; 
  text-align: center;
}








table.modal_table {
display: none;
}
img.product_image_cart {
    display: block;
    max-width: 80px!important;
}

.order_btn {
    max-width: 10rem; 
}

.video_container {
    height: 300px;
    padding-right: 0;
    padding-left: 0;
}


.container .catalog_container,
.col-md-12.catalog_12 {
padding-left: 0;
padding-right: 0;
}



.main__deliver {
    background-size: cover;
    background-image: url(../img/main_banner2.png);
    background-position: bottom;
    font-size: 1rem;   
    margin-top: 14%;
}
h1.main_activity {
    font-size: 3rem;
}
.main__icon {
     width: 2.8rem;   
}
p.logo span.logo_part {
    font-size: 0.9rem;
    
}
#catalog,
#reviews,
#count,
#video_block
 {
    font-size: 3.75rem;
    font-family: "Bebas Neue Bold";
    text-align: center;
    margin-top: 4.125rem;    
    padding-bottom: 3rem;
}

.cart_title {
font-size: 2.8rem;
padding-top: 2rem;padding-bottom: 2rem;
}
.product_name.cart {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.product_price_total {
    font-size: 1.5rem;    
}

.product_sum_total {
    font-size: 1.9rem;
    font-family: "Bebas Neue Bold";
    text-align: center;
    color: #e91231;
}

.new_price{    
    font-size: 2rem;
   
}
.old_price{    
    font-size: 1.6rem;
   
}

.col-md-4.one_product{
    padding-right: 0;
    padding-left: 0; 
}
.productor {
    font-size: 2rem;
    margin: 1.1875rem 1rem;
 
}
table.products_charact {
    margin: 0.875rem 1rem;    
    max-width: 100%;
    
}

.buy_btn {
    max-width: 15rem;
    height: 3.75rem;
    font-size: 1rem;
    }

h2.catalog__title,
.count__order_form,
.discount {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}
.count__text {    
    font-size: 1rem;   
    line-height: 1rem;
    
}
img.scroll_page {
    max-height: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.footer__policy,
a.footer__requisitos,
.footer.phone
 {
   
    float: none;
    display: block;

    text-align: center;
}
.footer__order,
.footer__copywrite{
  text-align: center;
}

.footer__payments {
  display: block;
  width: 90%;
  padding-bottom: 1rem;
  margin:auto;
}

img.footer__icons {
    max-width: 4.8rem;    
}


.product_card img {
    max-width: 11rem;
    width: 100%;
}

.video iframe, 
.video object, .video embed{
  position: relative;
}

a.watch_propose {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.register.count {
    padding: 1.375rem 0;
}

}

@media screen and (max-width: 630px) {
  h1.main_activity {
    font-size: 2.7rem;
}
}


@media (max-width: 768px) and (orientation: landscape) {


#timer-number-value-times-secundes,
#timer-number-value-times-hours,
#timer-number-value-times-minutes
{
  font-size: 1.5rem;
  
}
#timer-text-times-secundes,
#timer-text-times-hours,
#timer-text-times-minutes
{
  font-size: 0.9rem;
  
}



    img.product_image_cart {
    display: block;
    max-width: 100px!important;
}

td.mobile_cart_width_name {
    width: 25%;
}

  .product_card.extra__items {
   
    width: 90%;
    margin:auto;
    
}
  h1.main_activity {
    font-size: 2.5rem;
}
.new_price{    
    font-size: 1.8rem;
   
}
.old_price{    
    font-size: 1.6rem;
   
}
img.footer__icons {
    max-height: 1.5rem;
    display: inline-block;
    margin:auto;
    margin-top:1rem;    
}
img.scroll_page {
    max-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
img.advatages_icon {
    max-width: 3.5rem;
    height: auto;
}
.register input[type="email"], .register input[type="phone"], .register input[type="text"] {
   
    background-size: 1.5rem;
    background-position: 1rem 50%;
}
.footer__policy,
a.footer__requisitos {
   
    font-size: 1rem;
}
.register.count {
    padding: 1.375rem 0;
}
img.more_time{
  top:1rem;
  right: 0.9rem;
}
img.less_time{
  bottom:1rem;
  right: 0.9rem;
}

}


@media (min-width: 768px) and (max-width: 991px) {

}


@media screen and (max-width: 450px) {

#timer-number-value-times-secundes,
#timer-number-value-times-hours,
#timer-number-value-times-minutes
{
  font-size: 1.5rem;
  
}
#timer-text-times-secundes,
#timer-text-times-hours,
#timer-text-times-minutes
{
  font-size: 0.9rem;
  
}




  h1.main_activity {
    font-size: 2rem;
}
.main__icon {
     width: 2rem;   
}
.main_getclose {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 1rem;
}
#catalog,
#reviews,
#count,
#video_block
 {
    font-size: 3.75rem;
    font-family: "Bebas Neue Bold";
    text-align: center;
    margin-top: 4.125rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p.cart_title {
    font-size: 2.8rem;
}



.new_price{    
    font-size: 1.8rem;
   
}
.old_price{    
    font-size: 1.4rem;
   
}
img.scroll_page {
    max-height: 1.3rem;
    margin-top: 1.8rem;
    margin-bottom: 1.3rem;
}
.footer__policy,
a.footer__requisitos {
   
   font-size: 0.8rem;
}
img.more_time{
  top:1rem;
  right: 0.9rem;
}
img.less_time{
  bottom:1rem;
  right: 0.9rem;
}
.product_card.extra__items {
   
    width: 70%;
    margin:auto;
    
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
 
