
 <!-- <div class="team_container">
          <div class="number-input">  
          <input class="team_amount" min="1" name="team" value="1" type="number">  
           <button class="team_select up" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" ></button>
           <button class="team_select down" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
         </div> -->


input.team_amount {
  max-width: 8.0625rem;
  margin-left: 0;
  font-family:'IBM Plex Sans Medium';
     font-size: 0.875rem;
     display: block;
   float: left;
   text-align: left;
  
   
}

input.team_amount {
    font-size: 1.1rem;
    color: #000;
    min-height: 4rem;
}


button.team_select {
    display: inline-block;
    border: none;
    outline: none;   
    position: absolute;
    z-index: 195;   
    cursor: pointer;
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: transparent;
    border:none;
    
}
button.team_select.up {
  background-image: url(../images/up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    display: inline-block;
    border: none;
    outline: none;
    position: absolute;
    z-index: 195;
    top: 0.9375rem;
    right: 0.625rem;
    cursor: pointer;
       
}

button.team_select.down {
  background-image: url(../images/down.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
    position: absolute;
     z-index: 195;
    bottom: 0.9375rem;
    right: 0.625rem;
   
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
}